@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.earth{
  position: "absolute";
  /* position: "relative"; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
  z-index: -1;
  pointer-events: none;
}


.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
  background-color: rgb(0, 0, 0);
}

/* @layer utilities {
  .transparent_bg {
    background-color: rgba(211, 216, 255, 0.248);
  }
} */
.stacked_containers {
  position: relative;
  z-index: 0;
}

.top_content {
  z-index: 2 !important;
}
.bottom_spacing {
  z-index: -2 !important;
}

.behind_div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.star_background {
  width: 100vw;
  height: 200vh;
  position: fixed;
  overflow: clip !important;
  z-index: -1;
  pointer-events: none;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(200px) saturate(150%);
  top: 80px;
  opacity: 0.30;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply 2xl:mt-5 font-extrabold leading-[1.15] text-4xl sm:text-5xl md:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-950 to-cyan-800 bg-clip-text text-transparent;
}

.desc {
  @apply text-lg text-gray-300 sm:text-xl max-w-2xl;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-1 sm:gap-6 xl:columns-2;
}

/* Form Component */
.response_input_text_area {
  @apply w-full flex rounded-lg h-[300px] 2xl:h-[350px] mt-2 p-3 text-base text-white outline-0 block border py-2.5 pl-5 pr-12 shadow-lg font-inter;
  background-color: rgba(197, 201, 235, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
.response_input_text_area:focus {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  background-color: rgba(22, 22, 28, 0.9);
}
/* AI Response */
.ai_response_area {
  @apply w-full flex rounded-lg mt-2 p-8 outline-0 block border shadow-lg ;
  border-color: rgba(97, 47, 104, 1);
  outline-color: rgba(97, 47, 104, 1);
  box-shadow: 0 0 0 3px rgba(170, 230, 39, 0.4);
  background-color: rgba(22, 18, 27, 0.9);
  transition: box-shadow 0.5s ease-in-out;
  transition: background-color 0.8s ease-in-out;
}
.ai_response {
  @apply text-base text-gray-200 font-inter italic text-xl xs:text-lg sm:text-lg max-w-2xl;
  color: rgba(170, 230, 39, 0.85)
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi text-gray-300 tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.voting_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter w-full h-fit;
  font-style: italic;
  z-index: 55;
}
.thumbs_up_btn_active {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-900 bg-black bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter w-full h-fit;
  font-style: italic
}

.voted_bg {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-900;
  background-color:rgba(0, 128, 0, 0.5);
  font-style: italic;
  z-index: 55;
}
.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
